<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vicomage_general_config>
            <general>
                <boxed>1</boxed>
                <boxed_bg_img>1</boxed_bg_img>
                <boxed_custom_style>1</boxed_custom_style>
                <layout>1</layout>
            </general>
            <header>
                <header_type>1</header_type>
                <sticky_header>1</sticky_header>
                <currency_short>1</currency_short>
                <language_flag>1</language_flag>
            </header>
            <footer>
                <footer_type>1</footer_type>
                <footer_top_heading>1</footer_top_heading>
                <footer_top>1</footer_top>
                <footer_top_custom>1</footer_top_custom>
                <footer_middle_heading>1</footer_middle_heading>
                <footer_middle>1</footer_middle>
                <footer_middle_custom>1</footer_middle_custom>
                <footer_middle_2_heading>1</footer_middle_2_heading>
                <footer_middle_2>1</footer_middle_2>
                <footer_middle_2_custom>1</footer_middle_2_custom>
                <footer_bottom_heading>1</footer_bottom_heading>
                <footer_bottom>1</footer_bottom>
                <footer_store_switcher>1</footer_store_switcher>
                <footer_bottom_custom>1</footer_bottom_custom>
            </footer>
            <category>
                <alternative_image>1</alternative_image>
                <aspect_ratio>1</aspect_ratio>
                <ratio_width>1</ratio_width>
                <ratio_height>1</ratio_height>
                <rating_star>1</rating_star>
                <product_price>1</product_price>
                <actions>1</actions>
                <addtocompare>1</addtocompare>
                <addtowishlist>1</addtowishlist>
                <side_custom_block>1</side_custom_block>
            </category>
            <category_grid>
                <visible>1</visible>
                <notebook>1</notebook>
                <tablet>1</tablet>
                <landscape>1</landscape>
                <portrait>1</portrait>
                <mobile>1</mobile>
                <category_item_padding>1</category_item_padding>
            </category_grid>
            <product>
                <detail_style>1</detail_style>
                <side_custom_block>1</side_custom_block>
                <prev_next>1</prev_next>
                <base_image_width>1</base_image_width>
                <base_image_height>1</base_image_height>
                <moreview_image_width>1</moreview_image_width>
                <moreview_image_height>1</moreview_image_height>
                <moreview_thumb_style>1</moreview_thumb_style>
                <image_zoom_heading>1</image_zoom_heading>
                <use_zoom_image>1</use_zoom_image>
                <zoom_type>1</zoom_type>
                <tint_color>1</tint_color>
                <tint_opacity>1</tint_opacity>
                <zoom_border_color>1</zoom_border_color>
                <zoom_border_width>1</zoom_border_width>
                <zoom_window_width>1</zoom_window_width>
                <zoom_window_height>1</zoom_window_height>
                <zoom_window_position>1</zoom_window_position>
                <zoom_lens_shape>1</zoom_lens_shape>
                <lens_size>1</lens_size>
                <lens_border_size>1</lens_border_size>
                <zoom_contain_lens>1</zoom_contain_lens>
                <lens_color>1</lens_color>
                <lens_opacity>1</lens_opacity>
                <lens_facein_speed>1</lens_facein_speed>
                <zoom_easing>1</zoom_easing>
                <zoom_easingDuration>1</zoom_easingDuration>
                <zoom_mousewheel>1</zoom_mousewheel>
                <zoom_window_facein_speed>1</zoom_window_facein_speed>
                <zoom_window_faceout_speed>1</zoom_window_faceout_speed>
                <custom_tabs_heading>1</custom_tabs_heading>
                <tab_style>1</tab_style>
                <custom_cms_tabs>1</custom_cms_tabs>
                <custom_attr_tabs>1</custom_attr_tabs>
                <related_heading>1</related_heading>
                <show_related>1</show_related>
                <related_limit>1</related_limit>
                <related_item_visible>1</related_item_visible>
                <related_item_notebook>1</related_item_notebook>
                <related_item_tablet>1</related_item_tablet>
                <related_item_landscape>1</related_item_landscape>
                <related_item_portrait>1</related_item_portrait>
                <related_item_mobile>1</related_item_mobile>
                <upsell_heading>1</upsell_heading>
                <show_upsell>1</show_upsell>
                <upsell_limit>1</upsell_limit>
                <upsell_item_visible>1</upsell_item_visible>
                <upsell_item_notebook>1</upsell_item_notebook>
                <upsell_item_tablet>1</upsell_item_tablet>
                <upsell_item_landscape>1</upsell_item_landscape>
                <upsell_item_portrait>1</upsell_item_portrait>
                <upsell_item_mobile>1</upsell_item_mobile>
            </product>
            <product_label>
                <new_label>1</new_label>
                <new_label_text>1</new_label_text>
                <sale_label>1</sale_label>
                <sale_label_percent>1</sale_label_percent>
                <sale_label_text>1</sale_label_text>
            </product_label>
            <newsletter>
                <enable>1</enable>
                <delay>1</delay>
                <width>1</width>
                <height>1</height>
                <content>1</content>
                <bg_image>1</bg_image>
            </newsletter>
            <contacts>
                <google_map_heading>1</google_map_heading>
                <enable>1</enable>
                <mapiframe>1</mapiframe>
                <mapiframe_content>1</mapiframe_content>
                <api_key>1</api_key>
                <full_width>1</full_width>
                <address>1</address>
                <latitude>1</latitude>
                <longitude>1</longitude>
                <zoom>1</zoom>
                <contact_info_heading>1</contact_info_heading>
                <infoblock>1</infoblock>
            </contacts>
            <font>
                <custom>1</custom>
                <font_size>1</font_size>
                <font_family>1</font_family>
                <custom_font_family>1</custom_font_family>
                <google_font_family>1</google_font_family>
                <char_latin_ext>1</char_latin_ext>
                <char_subset>1</char_subset>
            </font>
            <custom_settings>
                <custom_style>1</custom_style>
                <custom_style_css>1</custom_style_css>
            </custom_settings>
        </vicomage_general_config>
    </default>
</config>
