<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vicomage_megamenu_setting>
            <general>
                <enabled>1</enabled>
            </general>
            <top_menu>
                <enabled>1</enabled>
                <show_home>1</show_home>
                <show_home_demo>1</show_home_demo>
                <group>1</group>
            </top_menu>
            <vertica_menu>
                <enabled>1</enabled>
                <show_home>1</show_home>
                <show_home_demo>1</show_home_demo>
                <group>1</group>
            </vertica_menu>
            <accordion_menu>
                <enabled>1</enabled>
                <group>1</group>
            </accordion_menu>
        </vicomage_megamenu_setting>
    </default>
</config>
