<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Shiprestriction
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <type name="\Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="Amasty_Shiprestriction::LayoutProcessor" type="Amasty\Shiprestriction\Plugin\LayoutProcessor" />
    </type>

</config>
