<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Vicomage. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="vicomage_slider" frontName="vicomage_slider">
            <module name="Vicomage_Slider"/>
        </route>
    </router>
</config>