& when (@media-common = true) {
.shopbrand{
	margin: 0 -15px;
	.item {
		float: left;
		text-align: center;
		padding: 0 15px;
		a {
			display: inline-block;
			border: 1px solid #e8e8e8;
			&:hover {
				border-color: #dddddd;
				box-shadow: 0 0 10px #dddddd;
			}
		}
	}
} 



}