						body.page-layout-1column a,body.page-layout-2columns-left a,body.page-layout-2columns-right a,.block-collapsible-nav .item a{
									color: #333333;
				
				
								}
								body a:hover,body a:focus, .account-nav .item a:hover{
									color: #748537;
				
				
								}
								body{
				
									background-color: #ffffff;
				
								}
								.product-label.new-label{
									color: #ffffff;
				
									background-color: #748537;
				
								}
								.product-label.sale-label{
									color: #ffffff;
				
									background-color: #aaaaaa;
				
								}
								button.button, button, .cart .continue, .actions-toolbar .primary a.action,button:focus, .action.primary, .page-not-found .previus-page{
									color: #ffffff;
				
									background-color: #748537;
				
									border-color: #748537;
								}
								button.button:hover, button:hover, .cart .continue:hover, .actions-toolbar .primary a.action:hover, .action.primary:hover, .page-not-found .previus-page:hover{
									color: #ffffff;
				
									background-color: #333333;
				
									border-color: #333333;
								}
								.cart-container .checkout-methods-items .action.primary{
									color: #ffffff;
				
									background-color: #748537;
				
									border-color: #748537;
								}
								.cart-container .checkout-methods-items .action.primary:hover{
									color: #ffffff;
				
									background-color: #333333;
				
									border-color: #333333;
								}
								.vicomage-slider .slick-active .slide-caption .caption1{
									color: #ffffff;
				
				
								}
								.vicomage-slider .slick-active .slide-caption .caption2{
									color: #ffffff;
				
				
								}
								.vicomage-slider .slick-active .slide-caption .caption3{
									color: #ffffff;
				
				
								}
								.vicomage-slider .slick-active .slide-caption .caption4{
									color: #ffffff;
				
				
								}
								.vicomage-slider .btn-shop{
									color: #ffffff;
				
									background-color: #748537;
				
									border-color: #748537;
								}
								.vicomage-slider .btn-shop:hover{
									color: #ffffff;
				
									background-color: #333333;
				
									border-color: #333333;
								}
								.slick-prev, .slick-next{
									color: #666666;
				
									background-color: #ffffff;
				
									border-color: #dddddd;
								}
								.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
									color: #ffffff;
				
									background-color: #748537;
				
									border-color: #748537;
								}
								.slick-dots li button{
				
									background-color: #ffffff;
				
									border-color: #ffffff;
								}
								.slick-dots li button:hover, .slick-dots li button:focus, .slick-dots li.slick-active button{
				
									background-color: #748537;
				
									border-color: #748537;
								}
								#newsletter-popup .block-popup-subscribe .form-subscribe-header h3{
									color: #ffffff;
				
				
								}
								#newsletter-popup .block-popup-subscribe .description-popup, #newsletter-popup .block-popup-subscribe .subscribe-bottom label{
									color: #ffffff;
				
				
								}
								#newsletter-popup{
				
									background-color: #dddddd;
				
								}
								#newsletter-popup input{
									color: #333333;
				
									background-color: #ffffff;
				
									border-color: #ffffff;
								}
								#newsletter-popup .block-popup-subscribe .newsletter-popup-content .block-subscribe .actions button{
									color: #ffffff;
				
									background-color: #748537;
				
									border-color: #748537;
								}
								#newsletter-popup .block-popup-subscribe .newsletter-popup-content .block-subscribe .actions button:hover{
									color: #ffffff;
				
									background-color: #333333;
				
									border-color: #333333;
								}
								.breadcrumbs a{
									color: #ffffff;
				
				
								}
								.breadcrumbs a:hover, .breadcrumbs strong{
									color: #748537;
				
				
								}
								.opc-progress-bar-item::before, .opc-progress-bar-item > span::before, .opc-progress-bar-item > span::after{
				
									background-color: #f4f4f4;
				
								}
								.opc-progress-bar-item._active > span::before, .opc-progress-bar-item._active::before, .opc-wrapper .shipping-address-item.selected-item::after{
				
									background-color: #748537;
				
								}
								.opc-wrapper .shipping-address-item.selected-item{
				
				
									border-color: #748537;
								}
								#backtotop{
									color: #ffffff;
				
									background-color: #333333;
				
								}
								#backtotop:hover{
									color: #ffffff;
				
									background-color: #748537;
				
								}
			

						.page-header a{
							color: #333333;
			
			
						}
								.page-header a:hover{
							color: #748537;
			
			
						}
								.page-wrapper .page-header .panel.wrapper{
			
			
						}
								.header-content{
			
			
						}
								.minicart-wrapper .action.showcart .counter.qty{
							color: #ffffff;
			
							background-color: #748537;
			
						}
								.minicart-wrapper .block-minicart{
			
							background-color: #ffffff;
			
							border-color: #dddddd;
						}
								.block-minicart .block-content .actions .primary .action.primary.checkout{
							color: #ffffff;
			
							background-color: #748537;
			
							border-color: #748537;
						}
								.block-minicart .block-content .actions .primary .action.primary.checkout:hover{
							color: #ffffff;
			
							background-color: #333333;
			
							border-color: #333333;
						}
								.block-minicart .block-content .actions .secondary .viewcart{
							color: #666666;
			
							background-color: #ffffff;
			
							border-color: #dddddd;
						}
								.block-minicart .block-content .actions .secondary .viewcart:hover{
							color: #ffffff;
			
							background-color: #748537;
			
							border-color: #748537;
						}
								.navigation .level0 > .level-top{
							color: #333333;
			
			
						}
								.nav-sections .vicomage-megamenu li.level0 > .level-top:hover, .vicomage-megamenu li.current > a.level-top{
							color: #748537;
			
			
						}
								.vicomage-megamenu .cat-label, .accordion .cat-label, .vicomage-megamenu .cat-label::before, .accordion .cat-label::before{
							color: #ffffff;
			
							background-color: #748537;
			
							border-color: #748537;
						}
								.vicomage-megamenu .cat-label.cat-label-hot, .accordion .cat-label.cat-label-hot, .vicomage-megamenu .cat-label.cat-label-hot::before, .accordion .cat-label.cat-label-hot::before{
							color: #ffffff;
			
							background-color: #2e80cc;
			
							border-color: #2e80cc;
						}
								.nav-sections .vicomage-megamenu li.level0.dropdown .submenu a:hover, .nav-sections .vicomage-megamenu li.level0.fullwidth .submenu li.current > a, .nav-sections .vicomage-megamenu li.level0.staticwidth .submenu li.current > a, .vicomage-megamenu li.current > a.level-top, .nav-sections .vicomage-megamenu li.level0 .submenu .current > a.level-top{
							color: #748537;
			
			
							border-color: #e8e8e8;
						}
								.nav-sections .vicomage-megamenu li.level0 .submenu, .nav-sections .vicomage-megamenu li.level0.fullwidth .submenu li.level1 li .subchildmenu, .nav-sections .vicomage-megamenu li.level0.staticwidth .submenu li.level1 li .subchildmenu, .nav-sections .vicomage-megamenu li.level0.dropdown .submenu li .subchildmenu{
			
			
							border-color: #748537;
						}
								.nav-sections .vicomage-megamenu li.level0 .submenu a{
							color: #333333;
			
			
						}
								.nav-sections .vicomage-megamenu li.level0 .submenu a:hover{
							color: #748537;
			
			
						}
								.accordion li a{
							color: #333333;
			
			
						}
								.accordion li a:hover, .accordion li.current > a.level-top{
							color: #748537;
			
			
						}
								.header-container-fixed{
			
			
						}
			


						.filter-content .filter-options-item .filter-options-title{
									color: #748537;
				
				
							}
								.page-layout-1column .filter.block.active .filter-title, .page-layout-1column .filter.block .filter-title:hover, .filter .block-title.filter-title strong:hover{
									color: #ffffff;
				
									background-color: #748537;
				
									border-color: #748537;
							}
								.toolbar-products{
				
									background-color: #f8f8f8;
				
							}
								.toolbar{
									color: #333333;
				
				
							}
								.toolbar select, .actions-toolbar .secondary a.action{
									color: #748537;
				
				
							}
								.toolbar .modes-mode{
									color: #333333;
				
				
							}
								.toolbar .modes-mode.active, .toolbar .modes-mode:hover{
									color: #748537;
				
				
							}
								.pages a.page{
									color: #333333;
				
									background-color: #ffffff;
				
									border-color: #dddddd;
							}
								.pages strong.page, .pages a.page:hover, .pages .action:hover{
									color: #ffffff;
				
									background-color: #748537;
				
									border-color: #748537;
							}
								.product-item-name > a, .product.name a > a{
									color: #333333;
				
				
							}
								.product-item-name > a:hover, .product.name a > a:hover{
									color: #748537;
				
				
							}
								.product-item .price-box .price, .product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price, .minicart-items .product-item-details .price, .table-wrapper .cart-price{
									color: #748537;
				
				
							}
								.rating-summary .rating-result::before{
									color: #c7c7c7;
				
				
							}
								.rating-summary .rating-result > span::before, .review-control-vote label::before{
									color: #748537;
				
				
							}
								.product-item-actions .actions-secondary .action{
									color: #999999;
				
				
							}
								.product-item-actions .actions-secondary .action:hover{
									color: #748537;
				
				
							}
								.product-item-info .btn-quickview{
									color: #ffffff;
				
									background-color: #748537;
				
									border-color: #748537;
							}
								.product-item-info .btn-quickview:hover{
									color: #ffffff;
				
									background-color: #333333;
				
									border-color: #333333;
							}
								products grid.product-item-actions .actions-primary .tocart{
									color: #333333;
				
									background-color: #ffffff;
				
									border-color: #ffffff;
							}
								.product-item-actions .actions-primary .tocart:hover{
									color: #748537;
				
									background-color: #ffffff;
				
									border-color: #ffffff;
							}
								.products-list .product-item-details .product-item-actions .tocart{
									color: #ffffff;
				
									background-color: #333333;
				
									border-color: #333333;
							}
								.products-list .product-item-details .product-item-actions .tocart:hover{
									color: #ffffff;
				
									background-color: #748537;
				
									border-color: #748537;
							}
								.group-product-tabs .product-tab{
									color: #333333;
				
				
							}
								.group-product-tabs .product-tab.active, .group-product-tabs .product-tab:hover{
									color: #748537;
				
				
							}
								.group-product-tabs .product-tab::after{
				
				
									border-color: #dddddd;
							}
								.box-tocart .action.tocart{
									color: #ffffff;
				
									background-color: #748537;
				
									border-color: #748537;
							}
								.box-tocart .action.tocart:hover{
									color: #ffffff;
				
									background-color: #333333;
				
									border-color: #333333;
							}
								.product-addto-links .action{
									color: #999999;
				
				
							}
								.product-addto-links .action:hover{
									color: #748537;
				
				
							}
								.product.data.items > .item.title > .switch{
									color: #333333;
				
				
							}
								.product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover, .product.data.items > .item.title > .switch:hover{
									color: #748537;
				
				
							}
								.fotorama__thumb-border{
				
				
									border-color: #748537;
							}
								.prev-next-products .product-nav .product-pop, .prev-next-products .product-nav .product-pop::before{
				
				
									border-color: #748537;
							}
								.faq-wrapper .panel .panel-title a .count{
									color: #ffffff;
				
									background-color: #748537;
				
									border-color: #748537;
							}
								.faq-wrapper .panel .panel-title a .count-number{
									color: #748537;
				
				
							}
								.faq-contact-link .btn-contact{
									color: #ffffff;
				
									background-color: #748537;
				
							}
			
						.footer-middle .block-content-statick ul li a{
						color: #666666;
			
			
						}
								.footer-middle .block-content-statick ul li a:hover{
						color: #748537;
			
			
						}
								.footer-top{
			
						background-color: #f7f7f7;
			
						}
								.footer-middle{
			
						background-color: #111111;
			
						}
								.footer-bottom{
			
						background-color: #ffffff;
			
						}
								.footer-middle{
						color: #666666;
			
			
						}
								.footer-middle .heading .block-title{
						color: #ffffff;
			
			
						}
								.footer-middle .feature-icon .tit-name{
						color: #748537;
			
			
						}
								.footer-newletter-content .block-title{
						color: #ffffff;
			
			
						}
								.footer-newletter-content .input-newleter input{
						color: #000000;
			
			
						border-color: #ffffff;
						}
								.footer-newletter-content .input-newleter .actions button{
						color: #ffffff;
			
						background-color: #748537;
			
						border-color: #748537;
						}
								.footer-newletter-content .input-newleter .actions button:hover{
						color: #ffffff;
			
						background-color: #333333;
			
						border-color: #333333;
						}
								.social-list .list-inline li .social-link{
						color: #666666;
			
			
						}
								.social-list .list-inline li .social-link:hover{
						color: #748537;
			
			
						}
								.footer-bottom .copyright{
						color: #666666;
			
			
						}
			